.parkingSlot-header {
  background-color: rgba(179, 179, 179, 0.479);
  text-align: center;
  padding: 10px;
}

.parkingSlot-content {
  display: flex;
  padding: 50px 0px 0px 0px;
  justify-content: center;
  width: 100%;
  height: 750px;
}

/* Table content */
.parkingSlot-table {
  /* background-color: red; */
  width: 100%;
  overflow: scroll;
  text-align: center;
}

#book-slot {
  font-size: 30;
  /* background-color: red; */
  height: 40px;
  width: 100px;
}
/* Table content */
